.Note {
  position: relative;
  margin: 10px 0;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.Note textarea {
  width: 100%;
  resize: none;
  padding: 5px;
  border: 1px solid #555;
  color: #000;
}

.Note textarea:disabled {
  background-color: #fafafa;
}

.Note-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
}

.Note-buttons button {
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-size: 100% auto;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
}

.Note-buttons button:active {
  background-size: 95% auto;
}

.Note-saveBtn {
  background: url(./ic-save.svg) 50% 50% no-repeat;
}

.Note-editBtn {
  background: url(./ic-edit.svg) 50% 50% no-repeat;
}

.Note-deleteBtn {
  background: url(./ic-delete.svg) 50% 50% no-repeat;
}