.Preloader {
  display: block;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 40px);
  background: rgba(255, 255, 255, 0.9) url(./ic-preloader.svg) 50% 20px no-repeat;
}