.Header {
  border-bottom: 2px solid #333;
  padding: 10px 15px;
  text-align: center;
  margin: 0 -15px;
  background-color: #fcfcfc;
}

.Header nav a {
  text-decoration: none;
  color: #000;
  padding: 5px 8px;
  border-right: 1px solid #000;
  transition: 0.3s;
}
.Header nav a:last-child {
  border: none;
}
.Header nav a.active {
  color: #f00;
}
.Header nav a:hover {
  opacity: 0.6;
}