.ToWatchAdd {
  display: flex;
  padding-bottom: 15px;
}

.ToWatchAdd input, .ToWatchAdd button {
  font-size: 18px;
}

.ToWatchAdd button {
  padding: 5px 12px;
}

.ToWatchAdd input {
  padding: 5px;
  flex-grow: 1;
  margin-right: 10px;
}
